---
import Box from "./Box.astro";
import Container from "./Container.astro";
import IconButton from "./IconButton.astro";
import LucideGithubIcon from "./LucideGithubIcon.astro";
import LucideMoonIcon from "./LucideMoonIcon.astro";
import LucideSunIcon from "./LucideSunIcon.astro";
import Text from "./Text.astro";

import * as klass from "./klass";

type Props = {
  active?: string;
};

const { active } = Astro.props;
---

<Container as="header" max="md">
  <Box d="flex" p="1" class="items-center justify-between h-16">
    <Text as="h1" size="lg" weight={600}>Klass + Astro + Tailwind</Text>

    <Box as="ul" d="flex" class="items-center gap-4">
      <Box as="li">
        <a
          href="/"
          class={klass.Text({ size: "lg", weight: 600 }, [
            "px-4 outline-none focus-visible:ring-1 focus-visible:ring-primary-6 hover:underline rounded-xl",
            active === "/" && "bg-primary-9 text-white",
          ])}
        >
          Home
        </a>
      </Box>
      <Box as="li">
        <a
          href="/ui"
          class={klass.Text({ size: "lg", weight: 600 }, [
            "px-4 outline-none focus-visible:ring-1 focus-visible:ring-primary-6 hover:underline rounded-xl",
            active === "/ui" && "bg-primary-9 text-white",
          ])}
        >
          UI
        </a>
      </Box>
    </Box>

    <Box d="flex" class="gap-2">
      <IconButton id="light-theme-button"><LucideSunIcon /></IconButton>
      <IconButton id="dark-theme-button"><LucideMoonIcon /></IconButton>
      <IconButton as="a" href="https://github.com/flamrdevs/klass">
        <LucideGithubIcon />
      </IconButton>
    </Box>
  </Box>
</Container>

<Container as="main" max="md">
  <slot />
</Container>

<script>
  const createThemeButton = (id: string, theme: "light" | "dark") => {
    document.getElementById(id)!.addEventListener("click", () => {
      document.documentElement.setAttribute("data-theme", theme);
      localStorage.setItem("klass:theme", theme);
    });
  };

  createThemeButton("light-theme-button", "light");
  createThemeButton("dark-theme-button", "dark");
</script>
