---
import { Box, Button, HTML, IconButton, LucideGithubIcon, LucideMoonIcon, LucideSunIcon } from "~/components";
---

<HTML>
  <Box d="iflex" class="align-items:center justify-content:center w:100vw h:100vh">
    <Box d="flex" my="8" p={{ base: "0", sm: "1", md: "2", lg: "3" }} gap="4">
      <Button>klass</Button>
      <IconButton id="light-theme-button">
        <LucideSunIcon />
      </IconButton>
      <IconButton id="dark-theme-button">
        <LucideMoonIcon />
      </IconButton>
      <IconButton as="a" href="https://github.com/flamrdevs/klass">
        <LucideGithubIcon />
      </IconButton>
    </Box>
  </Box>
</HTML>

<script>
  import { ThemeService } from "theme-service";

  const themeService = new ThemeService({ init: true, default: "dark", store: "klass:theme" });

  const createThemeButton = (id: string, theme: "light" | "dark") => {
    document.getElementById(id)!.addEventListener("click", () => {
      themeService.switch(theme);
    });
  };

  createThemeButton("light-theme-button", "light");
  createThemeButton("dark-theme-button", "dark");
</script>
