---
import { Box, Button, HTML, Kbd, Layout, Switch, Text } from "~/components";
---

<HTML>
  <Layout active="/ui">
    <Box>
      <Text align="center" size="xl" weight={500}>UI</Text>

      <Box p="4">
        <Text size="lg" weight={500}># Button</Text>

        <Box px="5" py="2">
          <Text weight={500}>Color</Text>

          <Box d="flex" m="1" p="5" class="flex-wrap bg-polka-gray items-center gap-2 border border-gray-3 rounded-lg">
            <Button color="primary">primary</Button>
            <Button color="secondary">secondary</Button>
            <Button color="success">success</Button>
            <Button color="error">error</Button>
            <Button color="warning">warning</Button>
          </Box>
        </Box>

        <Box px="5" py="2">
          <Text weight={500}>Size</Text>

          <Box d="flex" m="1" p="5" class="flex-wrap bg-polka-gray items-center gap-2 border border-gray-3 rounded-lg">
            <Button size="xs">extra small</Button>
            <Button size="sm">small</Button>
            <Button size="md">medium</Button>
            <Button size="lg">large</Button>
            <Button size="xl">extra large</Button>
          </Box>
        </Box>

        <Box px="5" py="2">
          <Text weight={500}>Variant</Text>

          <Box d="flex" m="1" p="5" class="flex-wrap bg-polka-gray items-center gap-2 border border-gray-3 rounded-lg">
            <Button color="primary" variant="default">default</Button>
            <Button color="primary" variant="outline">outline</Button>
            <Button color="primary" variant="solid">solid</Button>
          </Box>
        </Box>
      </Box>

      <Box p="4">
        <Text size="lg" weight={500}># Kbd</Text>

        <Box px="5" py="2">
          <Text weight={500}>Size</Text>

          <Box d="flex" m="1" p="5" class="flex-wrap bg-polka-gray items-center gap-2 border border-gray-3 rounded-lg">
            <Kbd size="xs">extra small</Kbd>
            <Kbd size="sm">small</Kbd>
            <Kbd size="md">medium</Kbd>
            <Kbd size="lg">large</Kbd>
            <Kbd size="xl">extra large</Kbd>
          </Box>
        </Box>
      </Box>

      <Box p="4">
        <Text size="lg" weight={500}># Switch</Text>

        <Box px="5" py="2">
          <Text weight={500}>Color</Text>

          <Box d="flex" m="1" p="5" class="flex-wrap bg-polka-gray items-center gap-2 border border-gray-3 rounded-lg">
            <Switch as="input" color="primary" checked />
            <Switch as="input" color="secondary" checked />
            <Switch as="input" color="success" checked />
            <Switch as="input" color="error" checked />
            <Switch as="input" color="warning" checked />
          </Box>
        </Box>

        <Box px="5" py="2">
          <Text weight={500}>Size</Text>

          <Box d="flex" m="1" p="5" class="flex-wrap bg-polka-gray items-center gap-2 border border-gray-3 rounded-lg">
            <Switch as="input" size="xs" checked />
            <Switch as="input" size="sm" checked />
            <Switch as="input" size="md" checked />
            <Switch as="input" size="lg" checked />
            <Switch as="input" size="xl" checked />
          </Box>
        </Box>

        <Box px="5" py="2">
          <Text weight={500}>Variant</Text>

          <Box d="flex" m="1" p="5" class="flex-wrap bg-polka-gray items-center gap-2 border border-gray-3 rounded-lg">
            <Switch as="input" color="primary" variant="default" />
            <Switch as="input" color="primary" variant="bordered" />
            <Switch as="input" color="primary" variant="ghost" />
          </Box>
        </Box>
      </Box>
    </Box>
  </Layout>
</HTML>
