@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-polka-gray {
  background-color: rgb(var(--gray-1));
  opacity: 0.8;
  background-image: radial-gradient(rgb(var(--gray-5)) 0.75px, rgb(var(--gray-1)) 0.75px);
  background-size: 15px 15px;
}
