:root,
[data-theme="light"] {
  --neutral-1: 0, 0%, 99%;
  --neutral-2: 0, 0%, 97.5%;
  --neutral-3: 0, 0%, 94.6%;
  --neutral-4: 0, 0%, 92%;
  --neutral-5: 0, 0%, 89.5%;
  --neutral-6: 0, 0%, 86.8%;
  --neutral-7: 0, 0%, 83%;
  --neutral-8: 0, 0%, 73.2%;
  --neutral-9: 0, 0%, 55.2%;
  --neutral-10: 0, 0%, 50.3%;
  --neutral-11: 0, 0%, 39.3%;
  --neutral-12: 0, 0%, 12.5%;
  --primary-1: 243, 65%, 99.5%;
  --primary-2: 240, 100%, 99%;
  --primary-3: 240, 99.9%, 97.7%;
  --primary-4: 240, 93.5%, 95.9%;
  --primary-5: 240, 86.5%, 93.4%;
  --primary-6: 240, 80.2%, 89.8%;
  --primary-7: 239, 75.3%, 84.6%;
  --primary-8: 238, 73.9%, 77.5%;
  --primary-9: 240, 60%, 59.8%;
  --primary-10: 240, 55.7%, 56.7%;
  --primary-11: 240, 50%, 52%;
  --primary-12: 238, 43%, 26.8%;
}
[data-theme="dark"] {
  --neutral-1: 0, 0%, 9.5%;
  --neutral-2: 0, 0%, 10.5%;
  --neutral-3: 0, 0%, 15.8%;
  --neutral-4: 0, 0%, 18.9%;
  --neutral-5: 0, 0%, 21.7%;
  --neutral-6: 0, 0%, 24.7%;
  --neutral-7: 0, 0%, 29.1%;
  --neutral-8: 0, 0%, 37.5%;
  --neutral-9: 0, 0%, 43%;
  --neutral-10: 0, 0%, 50.7%;
  --neutral-11: 0, 0%, 69.5%;
  --neutral-12: 0, 0%, 93.5%;
  --primary-1: 240, 22%, 10.5%;
  --primary-2: 243, 30.4%, 13.5%;
  --primary-3: 242, 32.6%, 18.9%;
  --primary-4: 241, 33.5%, 22.6%;
  --primary-5: 241, 34.2%, 26.1%;
  --primary-6: 240, 35%, 31%;
  --primary-7: 240, 36%, 39.4%;
  --primary-8: 240, 45.2%, 54.9%;
  --primary-9: 240, 60%, 59.8%;
  --primary-10: 241, 66.4%, 65.7%;
  --primary-11: 242, 100%, 81%;
  --primary-12: 242, 92%, 93.5%;
}

body {
  background-color: hsla(var(--neutral-1), 1);
  color: hsla(var(--neutral-12), 1);
}

.bg-polka-neutral {
  background-color: hsl(var(--neutral-1));
  opacity: 0.8;
  background-image: radial-gradient(hsl(var(--neutral-5)) 0.75px, hsl(var(--neutral-1)) 0.75px);
  background-size: 15px 15px;
}
