body {
  background-color: hsla(var(--neutral-1), 1);
  color: hsla(var(--neutral-12), 1);
}

.bg-polka-neutral {
  background-color: hsl(var(--neutral-1));
  opacity: 0.8;
  background-image: radial-gradient(hsl(var(--neutral-5)) 0.75px, hsl(var(--neutral-1)) 0.75px);
  background-size: 15px 15px;
}
