---
import { Box, Button, HTML, IconButton, Layout, LucideGithubIcon, Text } from "~/components";
---

<HTML>
  <Layout active="/ui">
    <Box>
      <Text align="center" size="xl" weight={500}>UI</Text>

      <Box p="4">
        <Text size="lg" weight={500}># Button</Text>

        <Box px="5" py="2">
          <Text weight={500}>Color</Text>

          <Box d="flex" m="1" p="5" class="bg-polka-neutral items-center gap-2 border border-neutral-3 rounded-lg">
            <Button color="neutral">neutral</Button>
            <Button color="primary">primary</Button>
          </Box>
        </Box>

        <Box px="5" py="2">
          <Text weight={500}>Size</Text>

          <Box d="flex" m="1" p="5" class="bg-polka-neutral items-center gap-2 border border-neutral-3 rounded-lg">
            <Button size="sm">small</Button>
            <Button size="md">medium</Button>
            <Button size="lg">large</Button>
          </Box>
        </Box>
      </Box>

      <Box p="4">
        <Text size="lg" weight={500}># Icon Button</Text>

        <Box px="5" py="2">
          <Text weight={500}>Color</Text>

          <Box d="flex" m="1" p="5" class="bg-polka-neutral items-center gap-2 border border-neutral-3 rounded-lg">
            <IconButton color="neutral">
              <LucideGithubIcon />
            </IconButton>
            <IconButton color="primary">
              <LucideGithubIcon />
            </IconButton>
          </Box>
        </Box>

        <Box px="5" py="2">
          <Text weight={500}>Size</Text>

          <Box d="flex" m="1" p="5" class="bg-polka-neutral items-center gap-2 border border-neutral-3 rounded-lg">
            <IconButton size="sm">
              <LucideGithubIcon size={16} />
            </IconButton>
            <IconButton size="md">
              <LucideGithubIcon size={24} />
            </IconButton>
            <IconButton size="lg">
              <LucideGithubIcon size={32} />
            </IconButton>
          </Box>
        </Box>
      </Box>
    </Box>
  </Layout>
</HTML>
